
.footer{


    text-align: center;
    background: url('http://one-div.com/codepen/menu/bg.jpg')no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    font-family: 'Open Sans Condensed', sans-serif;


    padding: 15px;
    background-color: teal;
    text-align: center;
    color: white;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%; 


}
